In [1]:
# Initial imports
import pandas as pd
from path import Path
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [24]:
# Loading data
data_df = pd.read_json('D:/Usuarios/Prestamo/Class/Module11/final_project_milk/full.json')
data_df.head()

   id  lactation  milk_days  daily_production
0   1          1         56                11
1   2          1      15553               446
2   2          2      13637               317
3   2          3       6280               306
4   2          4      15134               361

In [25]:
data_df.columns

Index(['id', 'lactation', 'milk_days', 'daily_production'], dtype='object')

In [28]:
import numpy as np

In [29]:
#renombrar daily_production por producción total
data_df.columns = ['id','lactation', 'total_production', 'milk_days']
data_df

               id  lactation  total_production  milk_days
0               1          1                56         11
1               2          1             15553        446
2               2          2             13637        317
3               2          3              6280        306
4               2          4             15134        361
...           ...        ...               ...        ...
60309  1174406462          5                 0          8
60310  1174406463          1              7607       1414
60311  1174406464          1              3850       1414
60312  1174406465          1              6189        263
60313  1174406465          2              6458        774

[60314 rows x 4 columns]

In [30]:
data_df ['total_production_bool'] = np. where(data_df['total_production']>= 10000, ' 1 ', ' 0 ')
data_df.head()

   id  lactation  total_production  milk_days total_production_bool
0   1          1                56         11                    0
1   2          1             15553        446                    1
2   2          2             13637        317                    1
3   2          3              6280        306                    0
4   2          4             15134        361                    1

In [31]:
# Define the features set.
y = data_df["total_production_bool"]
X = data_df.drop(columns="total_production_bool")
X=X.drop(columns="total_production")
X.head()

   id  lactation  milk_days
0   1          1         11
1   2          1        446
2   2          2        317
3   2          3        306
4   2          4        361

In [33]:
# Define the target set.
y = data_df["total_production_bool"].values
y[:5]

array([' 0 ', ' 1 ', ' 1 ', ' 0 ', ' 1 '], dtype=object)

In [34]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [35]:
# Determine the shape of our training and testing sets.
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(45235, 3)
(15079, 3)
(45235,)
(15079,)

In [36]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [37]:
# Creating the decision tree classifier instance.
model = tree.DecisionTreeClassifier()
# Fitting the model.
model = model.fit(X_train_scaled, y_train)

In [38]:
# Making predictions using the testing data.
predictions = model.predict(X_test_scaled)

In [39]:
predictions

array([' 0 ', ' 1 ', ' 0 ', ..., ' 0 ', ' 0 ', ' 1 '], dtype=object)

In [40]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0         9118         1322
Actual 1         1544         3095

In [41]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)

In [42]:
acc_score

0.8099343457788978

In [43]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0         9118         1322
Actual 1         1544         3095

Accuracy Score : 0.8099343457788978
Classification Report
              precision    recall  f1-score   support

          0        0.86      0.87      0.86     10440
          1        0.70      0.67      0.68      4639

    accuracy                           0.81     15079
   macro avg       0.78      0.77      0.77     15079
weighted avg       0.81      0.81      0.81     15079