In [85]:
import pandas as pd
import glob

folder_path = '..\Resources\lactancia_historica'
file_list = glob.glob(folder_path + "/*.csv")
df = pd.DataFrame()
for i in range(len(file_list)):
    data = pd.read_csv(file_list[i])
    data.columns = ["id", "date", "lactation", "milk_days", "daily_production"]
    res = calculate_lacta(data)
    res=pd.DataFrame.from_dict(res, orient='columns')
    res.columns = ["id", "lactation", "milk_days", "daily_production"]
    df = pd.concat([df,res])
print(df)

              id  lactation milk_days daily_production
0              1          1      56.0               11
1              2          1   15553.0              446
2              2          2   13637.0              317
3              2          3    6280.0              306
4              2          4   15134.0              361
...          ...        ...       ...              ...
3532  1174406462          5       0.0                8
3533  1174406463          1    7607.0             1414
3534  1174406464          1    3850.0             1414
3535  1174406465          1    6189.0              263
3536  1174406465          2    6458.0              774

[60314 rows x 4 columns]

In [86]:
df.head(10)

  id  lactation milk_days daily_production
0  1          1      56.0               11
1  2          1   15553.0              446
2  2          2   13637.0              317
3  2          3    6280.0              306
4  2          4   15134.0              361
5  2          5    9458.0              237
6  3          1    8165.0              295
7  3          2   11329.0              352
8  3          3   11471.0              346
9  4          1     673.0               68

In [87]:
df.dtypes

id                  object
lactation            int64
milk_days           object
daily_production    object
dtype: object

In [88]:
df["id"].unique()

array(['1', '2', '3', ..., '1174406462', '1174406463', '1174406464'],
      dtype=object)

In [97]:
def calculate_lacta(df):
    out = []
    for id in df["id"].unique():
        id_df=df[(df.id==id)]
        lactancias = list(id_df['lactation'].unique())
        for lacta in lactancias:
            vaca = {}
            vaca['id'] = str(id)
            vaca['lacta'] = lacta
            df_lactancia=id_df[(id_df.lactation==lacta)]
            total_produccion = df_lactancia['daily_production'].sum()
            dias_leche = df_lactancia.iloc[-1]['milk_days']
            vaca['lactation_total'] = str(total_produccion)
            vaca['milk_days'] = str(dias_leche)
            out.append(vaca)
    return out

In [98]:
df = df.to_dict('records')

In [99]:
import json
# Serializing json 
json_object = json.dumps(df, indent = 4)  
# Writing to sample.json
with open("full.json", "w") as outfile:
    outfile.write(json_object)