In [9]:
import pandas as pd
import json
from pandas import json_normalize
import numpy as np

In [10]:
data_df = pd.read_json('D:/Usuarios/Prestamo/Class/Module11/final_project_milk/full.json')
data_df.head()

   id  lactation  milk_days  daily_production
0   1          1         56                11
1   2          1      15553               446
2   2          2      13637               317
3   2          3       6280               306
4   2          4      15134               361

In [11]:
#renombrar daily_production por producción total
data_df.columns = ['id','lactation', 'total_production', 'milk_days']
data_df

               id  lactation  total_production  milk_days
0               1          1                56         11
1               2          1             15553        446
2               2          2             13637        317
3               2          3              6280        306
4               2          4             15134        361
...           ...        ...               ...        ...
60309  1174406462          5                 0          8
60310  1174406463          1              7607       1414
60311  1174406464          1              3850       1414
60312  1174406465          1              6189        263
60313  1174406465          2              6458        774

[60314 rows x 4 columns]

In [12]:
data_df ['total_production_bool'] = np. where(data_df['total_production']>= 10000, ' 1 ', ' 0 ')
data_df.head()

   id  lactation  total_production  milk_days total_production_bool
0   1          1                56         11                    0
1   2          1             15553        446                    1
2   2          2             13637        317                    1
3   2          3              6280        306                    0
4   2          4             15134        361                    1

In [14]:
y = data_df["total_production_bool"]
X = data_df.drop(columns="total_production_bool")
X=X.drop(columns="total_production")
X.head()

   id  lactation  milk_days
0   1          1         11
1   2          1        446
2   2          2        317
3   2          3        306
4   2          4        361

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,
   y,  random_state=1, stratify=y)
X_train.shape

(45235, 3)

In [16]:
from sklearn.svm import SVC
model = SVC(kernel='linear')

In [ ]:
model.fit(X_train, y_train)

In [ ]:
y_pred = model.predict(X_test)
results = pd.DataFrame({
   "Prediction": y_pred,
   "Actual": y_test
}).reset_index(drop=True)
results.head()

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

In [ ]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

In [3]:
data_df.count()

id                  60314
lactation           60314
milk_days           60314
daily_production    60314
dtype: int64

In [4]:
from path import Path
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [5]:
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [6]:
data_df.columns

Index(['id', 'lactation', 'milk_days', 'daily_production'], dtype='object')