In [21]:
import pandas as pd
import json
from pandas import json_normalize
import numpy as np

In [22]:
data_df = pd.read_json('D:/Usuarios/Prestamo/Class/Module11/final_project_milk/full.json')
data_df.head()

   id  lactation  milk_days  daily_production
0   1          1         56                11
1   2          1      15553               446
2   2          2      13637               317
3   2          3       6280               306
4   2          4      15134               361

In [23]:
#renombrar daily_production por producci√≥n total
data_df.columns = ['id','lactation', 'milk_days', 'total_production']
data_df.columns

Index(['id', 'lactation', 'milk_days', 'total_production'], dtype='object')

In [26]:
data_df ['milk_days_bool'] = np. where(data_df['milk_days']>= 10000, ' 1 ', ' 0 ')
data_df.head()

   id  lactation  milk_days  total_production milk_days_bool
0   1          1         56                11             0
1   2          1      15553               446             1
2   2          2      13637               317             1
3   2          3       6280               306             0
4   2          4      15134               361             1

In [30]:
y = data_df["milk_days_bool"]
X = data_df.drop(columns="milk_days_bool")
data_df.head()

   id  lactation  milk_days  total_production milk_days_bool
0   1          1         56                11             0
1   2          1      15553               446             1
2   2          2      13637               317             1
3   2          3       6280               306             0
4   2          4      15134               361             1

In [31]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,
   y,  random_state=1, stratify=y)
X_train.shape

(45235, 4)

In [32]:
from sklearn.svm import SVC
model = SVC(kernel='linear')

In [ ]:
model.fit(X_train, y_train)

In [ ]:
y_pred = model.predict(X_test)
results = pd.DataFrame({
   "Prediction": y_pred,
   "Actual": y_test
}).reset_index(drop=True)
results.head()

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

In [ ]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

In [3]:
data_df.count()

id                  60314
lactation           60314
milk_days           60314
daily_production    60314
dtype: int64

In [4]:
from path import Path
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [5]:
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [6]:
data_df.columns

Index(['id', 'lactation', 'milk_days', 'daily_production'], dtype='object')