In [1]:
import pandas as pd
import json
from pandas import json_normalize

In [2]:
data_df = pd.read_json('D:/Usuarios/Prestamo/Class/Module11/final_project_milk/full.json')
data_df.head()

   id  lactation  milk_days  daily_production
0   1          1         56                11
1   2          1      15553               446
2   2          2      13637               317
3   2          3       6280               306
4   2          4      15134               361

In [3]:
data_df.count()

id                  60314
lactation           60314
milk_days           60314
daily_production    60314
dtype: int64