In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import os
mastitis_to_load = os.path.join("Resources/Mastitis_by_lactation.csv")
mastitis_df = pd.read_csv(mastitis_to_load)

In [3]:
mastitis_df.head()

,index,cow,Status,gynecological_status,patio,given_birthdate,lactation,milk_days,number_mastitis_lactation_1,number_mastitis_lactation_2,number_mastitis_lactation_3,number_mastitis_lactation_4,number_mastitis_lactation_5,number_mastitis_lactation_6,number_mastitis_lactation_7,number_mastitis_lactation_8,number_mastitis_lactation_9
0,1,5,milking,pregnacy,13,9/16/2016,4,265,0,0,0,0,0,0,0,0,0
1,2,9,milking,heat,24,10/11/2016,4,253,0,0,0,0,0,0,0,0,0
2,3,16,milking,labor,19,11/15/2016,4,63,0,0,0,0,0,0,0,0,0
3,4,27,milking,heat,20,12/4/2017,3,48,0,0,0,0,0,0,0,0,0
4,5,121,milking,pregnacy,15,8/6/2013,7,159,0,0,0,0,1,0,0,0,0

In [4]:
mastitis_df.dtypes

index                           int64
cow                             int64
Status                         object
gynecological_status           object
patio                           int64
given_birthdate                object
lactation                       int64
milk_days                       int64
number_mastitis_lactation_1     int64
number_mastitis_lactation_2     int64
number_mastitis_lactation_3     int64
number_mastitis_lactation_4     int64
number_mastitis_lactation_5     int64
number_mastitis_lactation_6     int64
number_mastitis_lactation_7     int64
number_mastitis_lactation_8     int64
number_mastitis_lactation_9     int64
dtype: object

In [5]:
#vacas con mayor numero de mastitis en la lactancia 1
mastitis_df.sort_values("number_mastitis_lactation_1", ascending=False).head()

,index,cow,Status,gynecological_status,patio,given_birthdate,lactation,milk_days,number_mastitis_lactation_1,number_mastitis_lactation_2,number_mastitis_lactation_3,number_mastitis_lactation_4,number_mastitis_lactation_5,number_mastitis_lactation_6,number_mastitis_lactation_7,number_mastitis_lactation_8,number_mastitis_lactation_9
1820,1821,9360,milking,insemination,15,8/24/2017,3,155,6,0,0,0,0,0,0,0,0
32,33,1122,milking,labor,20,5/10/2014,6,32,6,0,0,0,0,0,0,0,0
2007,2008,9685,milking,insemination,19,3/31/2018,3,95,5,1,0,0,0,0,0,0,0
785,786,6176,milking,insemination,19,5/10/2017,4,68,5,3,1,0,0,0,0,0,0
908,909,6672,milking,heat,20,8/9/2017,3,36,5,1,0,0,0,0,0,0,0

In [ ]:
total_number_mastitis_lactation_1_count = cow_df["id"].count()
total_cow_count