In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./Resources/data_prepared.csv')

In [3]:
df.columns

Index(['Daily_Production', 'Average_Daily_Production_Days',
       'Average_Daily_Production_Percentage', 'Lactation_Number', 'Milk_Days',
       'Days_After_Heat', 'Insemination', 'Days_After_Insemination',
       'Pregnacy_Days', 'Number_of_Abortions', 'Production_Peak',
       'Previous_Lactation_Production', 'Actual_Lactation_Production',
       'Daily_Production_bool', 'given_birthdate_days',
       'Gynecological_Status_Abortion', 'Gynecological_Status_Heat',
       'Gynecological_Status_Insemination', 'Gynecological_Status_Labor',
       'Gynecological_Status_No_Inseminate', 'Gynecological_Status_Pregnacy',
       'Inseminator_Name_CARLOS-JAIME', 'Inseminator_Name_CARLOS-JEHU',
       'Inseminator_Name_CARLOS-LUIS', 'Inseminator_Name_CARLOS-MANUEL',
       'Inseminator_Name_CARLOS-MAURICIO', 'Inseminator_Name_CARLOS-URIEL',
       'Inseminator_Name_DAVID-ADAN', 'Inseminator_Name_DAVID-JEHU',
       'Inseminator_Name_DAVID-MANUEL', 'Inseminator_Name_DAVID-URIEL',
       'Inseminator_Name_ELIVER-JEHU', 'Inseminator_Name_JORGE-JEHU',
       'Inseminator_Name_JOSE JUAN-GERARDO',
       'Inseminator_Name_JUAN DELGADO-JAIME',
       'Inseminator_Name_JUAN DELGADO-JEHU',
       'Inseminator_Name_JUAN DELGADO-MANUEL',
       'Inseminator_Name_JUAN DELGADO-URIEL', 'Inseminator_Name_JUAN-BRUNO',
       'Inseminator_Name_JUAN-MAURICIO', 'Inseminator_Name_MANUEL-MOISES',
       'Inseminator_Name_MAURICIO-JAIME', 'Inseminator_Name_MAURICIO-JEHU',
       'Inseminator_Name_MIGUEL-JAIME', 'Inseminator_Name_MIGUEL-MAURICIO',
       'Inseminator_Name_MIGUEL-MOISES', 'Inseminator_Name_MIGUEL-URIEL',
       'Inseminator_Name_MVZ ROGELIO-JAIME',
       'Inseminator_Name_MVZ ROGELIO-JEHU',
       'Inseminator_Name_MVZ ROGELIO-PABLO',
       'Inseminator_Name_MVZ ROGELIO-URIEL', 'Inseminator_Name_N/A',
       'Inseminator_Name_ROBERTO-ADAN', 'Inseminator_Name_ROBERTO-DAVID',
       'Inseminator_Name_ROBERTO-MANUEL', 'Inseminator_Name_ROBERTO-MAURICIO',
       'Inseminator_Name_ROBERTO-URIEL', 'Inseminator_Name_ROGELIO-MAURICIO',
       'Inseminator_Name_URIEL-JEHU', 'bulls_name_1HO15524',
       'bulls_name_29HO19282', 'bulls_name_29HO19624', 'bulls_name_29HO19691',
       'bulls_name_501HO15427', 'bulls_name_AUZZI', 'bulls_name_BACKROAD',
       'bulls_name_BACKROAD SEX.', 'bulls_name_BART', 'bulls_name_CHANDLER',
       'bulls_name_CURFEW', 'bulls_name_CURFEW SEX.', 'bulls_name_DECLARATION',
       'bulls_name_EXPO', 'bulls_name_EXPRESSO', 'bulls_name_FALCO',
       'bulls_name_FASTDRAW', 'bulls_name_HEINSOHN', 'bulls_name_INFOCUS GOLD',
       'bulls_name_KELLER', 'bulls_name_KEYNOTE', 'bulls_name_MARADONA',
       'bulls_name_MAVERICK', 'bulls_name_MUSTSEE', 'bulls_name_N/A',
       'bulls_name_OGDEN', 'bulls_name_OLAF', 'bulls_name_POPSTAR',
       'bulls_name_POWE', 'bulls_name_RAYSHEN', 'bulls_name_RHETORIC',
       'bulls_name_SCORPIO', 'bulls_name_SCRAPPLE',
       'bulls_name_SILVER INFOCUS', 'bulls_name_TORETTO', 'bulls_name_TORRO',
       'bulls_name_UNCHARTED', 'bulls_name_VIEWPOINT', 'bulls_name_WALLEN',
       'bulls_name_WILD THING'],
      dtype='object')

In [4]:
# Initial imports.
import pandas as pd
from path import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [5]:
# Define the features set.
X = df.copy()
X = X.drop('Daily_Production', axis=1)
X = X.drop('Daily_Production_bool', axis=1)
X = X.drop('Average_Daily_Production_Days', axis=1)
#X = X.drop('Average_Daily_Production_Percentage', axis=1)
X.head()

,Average_Daily_Production_Percentage,Lactation_Number,Milk_Days,Days_After_Heat,Insemination,Days_After_Insemination,Pregnacy_Days,Number_of_Abortions,Production_Peak,Previous_Lactation_Production,...,bulls_name_RHETORIC,bulls_name_SCORPIO,bulls_name_SCRAPPLE,bulls_name_SILVER INFOCUS,bulls_name_TORETTO,bulls_name_TORRO,bulls_name_UNCHARTED,bulls_name_VIEWPOINT,bulls_name_WALLEN,bulls_name_WILD THING
0,-2,4,222,139,2,139,139,0,50.3,9269,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,4,210,132,2,132,132,0,39.1,8048,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,4,20,0,0,0,0,0,0.0,10529,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,3,5,0,0,0,0,0,0.0,11448,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3,7,116,61,1,61,61,0,0.0,11486,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
# Define the target set.
df.loc[df['Average_Daily_Production_Days'] < 28, 'Average_Daily_Production_Days'] = 0
df.loc[df['Average_Daily_Production_Days'] >= 28, 'Average_Daily_Production_Days'] = 1
y = df["Average_Daily_Production_Days"].ravel()
#y = df["Average_Daily_Production_Days"].ravel()
y[:5]

array([1., 1., 1., 0., 1.])

In [7]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [8]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [9]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

In [10]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [11]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)
predictions

array([1., 1., 1., ..., 1., 1., 1.])

In [12]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0          123           79
Actual 1           31          799

In [13]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)
acc_score

0.8934108527131783

In [14]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          123           79
Actual 1           31          799

Accuracy Score : 0.8934108527131783
Classification Report
              precision    recall  f1-score   support

         0.0       0.80      0.61      0.69       202
         1.0       0.91      0.96      0.94       830

    accuracy                           0.89      1032
   macro avg       0.85      0.79      0.81      1032
weighted avg       0.89      0.89      0.89      1032

In [15]:
# Calculate feature importance in the Random Forest model.
importances = rf_model.feature_importances_
importances

array([9.13378394e-02, 2.81148276e-02, 1.13310970e-01, 7.20745296e-02,
       3.16186688e-02, 6.88602412e-02, 6.37830561e-02, 5.91286460e-03,
       4.38917511e-02, 4.36238531e-02, 2.08508844e-01, 1.07215764e-01,
       1.05584322e-03, 2.05867172e-03, 5.73565001e-03, 8.27546924e-03,
       1.87492407e-03, 3.25405824e-03, 8.41437555e-05, 6.41985159e-03,
       8.53096624e-05, 1.44190163e-04, 1.46407087e-03, 4.18064271e-03,
       1.91056103e-05, 7.76306477e-06, 1.52860710e-03, 8.60099399e-05,
       8.39457902e-06, 0.00000000e+00, 6.54172573e-09, 1.09444906e-03,
       6.30104524e-04, 0.00000000e+00, 2.19033730e-03, 1.50929029e-06,
       1.31235992e-04, 4.68323945e-06, 1.43650710e-03, 3.47194178e-05,
       4.77111460e-03, 4.91733872e-03, 4.29965596e-04, 1.63896217e-03,
       7.73528499e-04, 4.51836234e-04, 6.82633517e-05, 2.24006434e-04,
       4.78288683e-03, 3.72830216e-05, 1.32469827e-03, 2.44005163e-03,
       1.00563771e-04, 5.75667821e-05, 1.51084931e-04, 1.39112212e-03,
       9.96704698e-05, 1.65384318e-04, 5.51244766e-04, 2.10117402e-04,
       8.10873141e-04, 0.00000000e+00, 1.42628229e-03, 5.13488724e-04,
       7.07848379e-04, 4.14158625e-04, 5.77581850e-04, 2.67334475e-04,
       1.12724827e-03, 3.68644721e-03, 1.66924821e-03, 1.20075322e-03,
       2.97604463e-03, 5.32672597e-04, 3.25668628e-03, 5.43168425e-05,
       5.36607180e-03, 4.07536100e-03, 1.04169900e-03, 3.95396211e-03,
       3.42294863e-03, 4.56910856e-04, 2.94809678e-03, 3.54301587e-03,
       5.75319780e-05, 2.04662947e-04, 3.33473160e-04, 6.45692511e-04,
       9.31920121e-04, 4.22544987e-03, 3.78342240e-04, 0.00000000e+00,
       1.83551295e-03, 2.41859877e-03, 1.64409444e-04, 1.29197739e-04])

In [16]:
# We can sort the features by their importance.
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.20850884428419098, 'Actual_Lactation_Production'),
 (0.11331097020635132, 'Milk_Days'),
 (0.10721576371042424, 'given_birthdate_days'),
 (0.0913378393517163, 'Average_Daily_Production_Percentage'),
 (0.0720745296215272, 'Days_After_Heat'),
 (0.06886024119476798, 'Days_After_Insemination'),
 (0.06378305613936698, 'Pregnacy_Days'),
 (0.043891751061802264, 'Production_Peak'),
 (0.04362385306541946, 'Previous_Lactation_Production'),
 (0.03161866875864584, 'Insemination'),
 (0.028114827569714784, 'Lactation_Number'),
 (0.00827546923835756, 'Gynecological_Status_Labor'),
 (0.006419851592471721, 'Inseminator_Name_CARLOS-JEHU'),
 (0.005912864603438621, 'Number_of_Abortions'),
 (0.005735650008456914, 'Gynecological_Status_Insemination'),
 (0.005366071798339841, 'bulls_name_KEYNOTE'),
 (0.004917338715105051, 'Inseminator_Name_MIGUEL-MAURICIO'),
 (0.004782886826650117, 'Inseminator_Name_N/A'),
 (0.004771114599072382, 'Inseminator_Name_MIGUEL-JAIME'),
 (0.004225449866465928, 'bulls_name_SILVER INFOCUS'),
 (0.004180642705573868, 'Inseminator_Name_CARLOS-URIEL'),
 (0.004075360997665743, 'bulls_name_MARADONA'),
 (0.003953962111418792, 'bulls_name_MUSTSEE'),
 (0.0036864472125774763, 'bulls_name_EXPO'),
 (0.003543015868622695, 'bulls_name_POPSTAR'),
 (0.0034229486340480704, 'bulls_name_N/A'),
 (0.003256686279748037, 'bulls_name_INFOCUS GOLD'),
 (0.003254058238911141, 'Gynecological_Status_Pregnacy'),
 (0.0029760446340617794, 'bulls_name_FASTDRAW'),
 (0.0029480967790391165, 'bulls_name_OLAF'),
 (0.0024400516303351993, 'Inseminator_Name_ROBERTO-MANUEL'),
 (0.002418598771102612, 'bulls_name_VIEWPOINT'),
 (0.002190337296708288, 'Inseminator_Name_JUAN DELGADO-URIEL'),
 (0.0020586717182892573, 'Gynecological_Status_Heat'),
 (0.0018749240679016789, 'Gynecological_Status_No_Inseminate'),
 (0.0018355129470754008, 'bulls_name_UNCHARTED'),
 (0.0016692482071615628, 'bulls_name_EXPRESSO'),
 (0.0016389621722923899, 'Inseminator_Name_MIGUEL-URIEL'),
 (0.0015286070980455482, 'Inseminator_Name_DAVID-MANUEL'),
 (0.0014640708710201488, 'Inseminator_Name_CARLOS-MAURICIO'),
 (0.0014365071025545005, 'Inseminator_Name_MAURICIO-JAIME'),
 (0.0014262822944340057, 'bulls_name_BACKROAD'),
 (0.0013911221225557594, 'Inseminator_Name_URIEL-JEHU'),
 (0.0013246982690330621, 'Inseminator_Name_ROBERTO-DAVID'),
 (0.0012007532243506732, 'bulls_name_FALCO'),
 (0.0011272482690013015, 'bulls_name_DECLARATION'),
 (0.0010944490627144443, 'Inseminator_Name_JUAN DELGADO-JAIME'),
 (0.0010558432195857303, 'Gynecological_Status_Abortion'),
 (0.0010416989950587665, 'bulls_name_MAVERICK'),
 (0.0009319201211854211, 'bulls_name_SCRAPPLE'),
 (0.0008108731414136474, 'bulls_name_501HO15427'),
 (0.0007735284990213472, 'Inseminator_Name_MVZ ROGELIO-JAIME'),
 (0.0007078483790705613, 'bulls_name_BART'),
 (0.0006456925110451651, 'bulls_name_SCORPIO'),
 (0.0006301045238499264, 'Inseminator_Name_JUAN DELGADO-JEHU'),
 (0.0005775818503748348, 'bulls_name_CURFEW'),
 (0.0005512447660309567, 'bulls_name_29HO19624'),
 (0.000532672597020465, 'bulls_name_HEINSOHN'),
 (0.0005134887235648554, 'bulls_name_BACKROAD SEX.'),
 (0.000456910855550304, 'bulls_name_OGDEN'),
 (0.000451836233792232, 'Inseminator_Name_MVZ ROGELIO-JEHU'),
 (0.00042996559639528107, 'Inseminator_Name_MIGUEL-MOISES'),
 (0.00041415862457224546, 'bulls_name_CHANDLER'),
 (0.0003783422398885862, 'bulls_name_TORETTO'),
 (0.0003334731596302726, 'bulls_name_RHETORIC'),
 (0.00026733447507773647, 'bulls_name_CURFEW SEX.'),
 (0.00022400643429279274, 'Inseminator_Name_MVZ ROGELIO-URIEL'),
 (0.0002101174021667627, 'bulls_name_29HO19691'),
 (0.000204662947341964, 'bulls_name_RAYSHEN'),
 (0.0001653843184316653, 'bulls_name_29HO19282'),
 (0.000164409443537467, 'bulls_name_WALLEN'),
 (0.00015108493117117349, 'Inseminator_Name_ROGELIO-MAURICIO'),
 (0.00014419016273366404, 'Inseminator_Name_CARLOS-MANUEL'),
 (0.00013123599237781537, 'Inseminator_Name_JUAN-MAURICIO'),
 (0.0001291977394972584, 'bulls_name_WILD THING'),
 (0.00010056377113194277, 'Inseminator_Name_ROBERTO-MAURICIO'),
 (9.967046982398939e-05, 'bulls_name_1HO15524'),
 (8.600993988390133e-05, 'Inseminator_Name_DAVID-URIEL'),
 (8.530966237441738e-05, 'Inseminator_Name_CARLOS-LUIS'),
 (8.414375549596583e-05, 'Inseminator_Name_CARLOS-JAIME'),
 (6.826335165402242e-05, 'Inseminator_Name_MVZ ROGELIO-PABLO'),
 (5.756678205350061e-05, 'Inseminator_Name_ROBERTO-URIEL'),
 (5.753197798478196e-05, 'bulls_name_POWE'),
 (5.43168425164216e-05, 'bulls_name_KELLER'),
 (3.7283021555399123e-05, 'Inseminator_Name_ROBERTO-ADAN'),
 (3.4719417816207194e-05, 'Inseminator_Name_MAURICIO-JEHU'),
 (1.9105610253072895e-05, 'Inseminator_Name_DAVID-ADAN'),
 (8.394579015075188e-06, 'Inseminator_Name_ELIVER-JEHU'),
 (7.763064768298909e-06, 'Inseminator_Name_DAVID-JEHU'),
 (4.6832394467810995e-06, 'Inseminator_Name_MANUEL-MOISES'),
 (1.5092902935303357e-06, 'Inseminator_Name_JUAN-BRUNO'),
 (6.541725725941243e-09, 'Inseminator_Name_JOSE JUAN-GERARDO'),
 (0.0, 'bulls_name_TORRO'),
 (0.0, 'bulls_name_AUZZI'),
 (0.0, 'Inseminator_Name_JUAN DELGADO-MANUEL'),
 (0.0, 'Inseminator_Name_JORGE-JEHU')]