In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import os
mastitis_to_load = os.path.join("Resources", "Mastitis_by_lactation.csv")
mastitis_df = pd.read_csv(mastitis_to_load)
mastitis_df.head(20)

,index,cow_number,status,gynecological_status,patio,given_birthdate,lactation_number,milk_days,number_mastitis_lactation_1,number_mastitis_lactation_2,number_mastitis_lactation_3,number_mastitis_lactation_4,number_mastitis_lactation_5,number_mastitis_lactation_6,number_mastitis_lactation_7,number_mastitis_lactation_8,number_mastitis_lactation_9
0,1,5,milk,pregnancy,13,9/16/2016,4,265,0,0,0,0,0,0,0,0,0
1,2,9,milk,heat,24,10/11/2016,4,253,0,0,0,0,0,0,0,0,0
2,3,16,milk,labor,19,11/15/2016,4,63,0,0,0,0,0,0,0,0,0
3,4,27,milk,heat,20,12/4/2017,3,48,0,0,0,0,0,0,0,0,0
4,5,121,milk,pregnancy,15,8/6/2013,7,159,0,0,0,0,1,0,0,0,0
5,6,160,milk,labor,21,8/19/2013,6,2,0,0,0,0,0,0,0,0,0
6,7,190,dry,pregnancy,84,8/24/2013,6,524,0,0,1,0,0,0,0,0,0
7,8,219,milk,labor,18,8/30/2013,7,105,0,0,1,1,2,0,0,0,0
8,9,222,milk,pregnancy,15,8/31/2013,7,177,0,0,0,2,0,0,0,0,0
9,10,229,milk,pregnancy,17,9/2/2013,7,145,0,0,0,0,1,1,0,0,0
10,11,252,milk,labor,21,9/5/2013,6,14,0,0,0,1,1,0,0,0,0
11,12,254,milk,heat,26,9/5/2013,6,295,0,0,0,0,0,0,0,0,0
12,13,297,milk,pregnancy,17,9/17/2013,7,128,2,1,0,0,0,0,0,0,0
13,14,301,milk,pregnancy,13,9/17/2013,7,279,0,0,0,0,0,0,0,0,0
14,15,437,milk,insemination,19,10/13/2013,6,90,0,0,0,0,0,0,0,0,0
15,16,465,milk,insemination,20,10/18/2013,7,102,0,0,0,1,0,1,1,0,0
16,17,508,milk,pregnancy,15,10/23/2013,7,177,0,0,0,0,0,0,0,0,0
17,18,557,dry,pregnancy,1,11/1/2013,6,462,0,0,0,0,0,0,0,0,0
18,19,585,milk,heat,25,11/7/2013,6,231,0,1,0,2,1,0,0,0,0
19,20,619,milk,no_insemination,26,11/16/2013,6,268,0,0,1,3,1,1,0,0,0

In [3]:
mastitis_df.count()

index                          4442
cow_number                     4442
status                         4442
gynecological_status           4442
patio                          4442
given_birthdate                4442
lactation_number               4442
milk_days                      4442
number_mastitis_lactation_1    4442
number_mastitis_lactation_2    4442
number_mastitis_lactation_3    4442
number_mastitis_lactation_4    4442
number_mastitis_lactation_5    4442
number_mastitis_lactation_6    4442
number_mastitis_lactation_7    4442
number_mastitis_lactation_8    4442
number_mastitis_lactation_9    4442
dtype: int64

In [4]:
mastitis_df.dtypes

index                           int64
cow_number                      int64
status                         object
gynecological_status           object
patio                           int64
given_birthdate                object
lactation_number                int64
milk_days                       int64
number_mastitis_lactation_1     int64
number_mastitis_lactation_2     int64
number_mastitis_lactation_3     int64
number_mastitis_lactation_4     int64
number_mastitis_lactation_5     int64
number_mastitis_lactation_6     int64
number_mastitis_lactation_7     int64
number_mastitis_lactation_8     int64
number_mastitis_lactation_9     int64
dtype: object

In [5]:
mastitis_df['milk_days'] = mastitis_df['milk_days'].astype(int)

In [6]:
mastitis_df.describe()

,index,cow_number,patio,lactation_number,milk_days,number_mastitis_lactation_1,number_mastitis_lactation_2,number_mastitis_lactation_3,number_mastitis_lactation_4,number_mastitis_lactation_5,number_mastitis_lactation_6,number_mastitis_lactation_7,number_mastitis_lactation_8,number_mastitis_lactation_9
count,4442.000000,4442.000000,4442.000000,4442.000000,4442.000000,4442.000000,4442.000000,4442.000000,4442.000000,4442.000000,4442.000000,4442.000000,4442.000000,4442.0
mean,2221.500000,9740.120441,20.019361,2.164566,193.019811,0.130347,0.131247,0.101081,0.054705,0.028816,0.006529,0.001801,0.002026,0.0
std,1282.439277,4013.282074,17.453140,1.286367,111.501236,0.459954,0.485893,0.486155,0.343403,0.260908,0.095862,0.059996,0.100642,0.0
min,1.000000,5.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,1111.250000,7308.750000,11.000000,1.000000,108.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
50%,2221.500000,10003.000000,17.000000,2.000000,189.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
75%,3331.750000,11735.500000,23.000000,3.000000,270.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
max,4442.000000,20430.000000,86.000000,9.000000,653.000000,6.000000,9.000000,8.000000,7.000000,9.000000,2.000000,3.000000,6.000000,0.0

In [22]:
#vacas con mayor numero de mastitia en la lactancia 1
mastitis_df.sort_values("number_mastitis_lactation_1", ascending=False).head()

,index,cow_number,status,gynecological_status,patio,given_birthdate,lactation_number,milk_days,number_mastitis_lactation_1,number_mastitis_lactation_2,number_mastitis_lactation_3,number_mastitis_lactation_4,number_mastitis_lactation_5,number_mastitis_lactation_6,number_mastitis_lactation_7,number_mastitis_lactation_8,number_mastitis_lactation_9
1820,1821,9360,milk,insemination,15,8/24/2017,3,155,6,0,0,0,0,0,0,0,0
32,33,1122,milk,labor,20,5/10/2014,6,32,6,0,0,0,0,0,0,0,0
2007,2008,9685,milk,no_pregnant,19,3/31/2018,3,95,5,1,0,0,0,0,0,0,0
785,786,6176,milk,insemination,19,5/10/2017,4,68,5,3,1,0,0,0,0,0,0
908,909,6672,milk,heat,20,8/9/2017,3,36,5,1,0,0,0,0,0,0,0

In [7]:
#estado ginecologico y media de dias de leche
gyn_status = mastitis_df.groupby(["gynecological_status"]).mean()["milk_days"]
gyn_status.head()

gynecological_status
abortion           237.928571
heat                68.626437
insemination       129.660757
labor               30.949686
no_insemination    386.839286
Name: milk_days, dtype: float64

In [18]:
#numero de casos de mastitis en la primera lactancia por estado ginecologico
gyn_status_ill_count = mastitis_df.groupby(["gynecological_status"]).count()["number_mastitis_lactation_1"]
gyn_status_ill_count.head()

gynecological_status
abortion            28
heat               174
insemination       846
labor              477
no_insemination     56
Name: number_mastitis_lactation_1, dtype: int64

In [8]:
#numero de lactancia y promedio de dias de leche
lactation_number_count = mastitis_df.groupby(["lactation_number"]).mean()["milk_days"]
lactation_number_count.head()

lactation_number
1    192.834974
2    190.829008
3    196.547963
4    193.040431
5    203.919075
Name: milk_days, dtype: float64

In [20]:
#numeros de mastitis por el numero de lactancia
lactation_number_count_1 = mastitis_df.groupby(["lactation_number"]).sum()["number_mastitis_lactation_1"]
lactation_number_count_1.head()

lactation_number
1    125
2    190
3    163
4     58
5     27
Name: number_mastitis_lactation_1, dtype: int64

In [9]:
#numero de casos de mastitis por vaca en primera lactancia
cow_ill_count_1 = mastitis_df.groupby(["number_mastitis_lactation_1"]).count()["cow_number"]
cow_ill_count_1.head()

number_mastitis_lactation_1
0    3996
1     363
2      56
3      14
4       5
Name: cow_number, dtype: int64

In [10]:
cow_ill_count_2 = mastitis_df.groupby(["number_mastitis_lactation_2"]).count()["cow_number"]
cow_ill_count_2.head()

number_mastitis_lactation_2
0    4027
1     301
2      82
3      21
4       7
Name: cow_number, dtype: int64