In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../produccion_del.csv', header=None)

In [3]:
df.head()

   0                    1  2  3    4
0  1  2019-01-02 00:00:00  1  1  1.0
1  1  2019-01-03 00:00:00  1  2  5.0
2  1  2019-01-04 00:00:00  1  3  4.0
3  1  2019-01-05 00:00:00  1  4  4.0
4  1  2019-01-06 00:00:00  1  5  4.0

In [24]:
import psycopg2
conexion = psycopg2.connect(
    host="mikldb.c4q77ebplhtf.us-east-2.rds.amazonaws.com", 
    database="postgres", 
    user="postgres", 
    password="*Mexico2022*"
)

In [25]:
cur = conexion.cursor()

In [26]:
cur.execute("""SELECT table_name FROM information_schema.tables WHERE table_schema = 'public'""")

for table in cur.fetchall(): 
    print(table)

('milk_bulls_details',)
('milk_insemination_details',)
('milk_raw_data',)
('milk_unique_ids',)
('milk_lactation_summary',)
('milk_abortion_details',)
('milk_mastitis_details',)
('milk_gynecological_status',)

In [27]:
cur.execute("""INSERT INTO milk_raw_data (id_cow, lactation, days_milk, daily_prod) 
    VALUES (1,1, 10,10);""")

In [29]:
conexion.commit()