In [2]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
import os
mastitis_to_load = os.path.join("Resources/Mastitis_by_lactation.csv")
mastitis_df = pd.read_csv(mastitis_to_load)

In [4]:
cow_to_load = os.path.join("Resources/alive_cows_to_predict.csv")
cow_df = pd.read_csv(cow_to_load)

In [5]:
data_to_load = os.path.join("Resources/data_preprocesed_lact_3.csv")
data_df = pd.read_csv(data_to_load)

In [6]:
#total de vacas
total_cow_count = cow_df["id"].count()
total_cow_count

4393

In [10]:
#Cows with more than 10000lt in 1st lactation.
profitable_cows1 = cow_df[cow_df["total_production_1"] >= 10000]
cows_count = profitable_cows1["id"].count()
profitable_percentage1 = cows_count / float(total_cow_count) * 100
profitable_percentage1

72.0919644889597

In [11]:
less_profitable_cows1  =  100- profitable_percentage1
less_profitable_cows1

72.0919644889597

In [13]:
#Cows with more than 10000lt in 2nd lactation.
cow_2 = cow_df[cow_df["lactation_2"] == 1]
cows2_count = cow_2["id"].count()
profitable_cows2 = cow_df[cow_df["total_production_2"] >= 10000]
total_cows_count2 = profitable_cows2["id"].count()
profitable_percentage2 = total_cows_count2 / float(cows2_count) * 100
profitable_percentage2

45.58987718645329

In [14]:
less_profitable_cows2  =  100- profitable_percentage2
less_profitable_cows2

54.41012281354671

In [15]:
#Cows with more than 10000lt in 3rd lactation.
cow_3 = cow_df[cow_df["lactation_3"] == 1]
cows3_count = cow_3["id"].count()
profitable_cows3 = cow_df[cow_df["total_production_3"] >= 10000]
total_cows_count3 = profitable_cows3["id"].count()
profitable_percentage3 = total_cows_count3 / float(cows3_count) * 100
profitable_percentage3

48.45212383009359

In [16]:
less_profitable_cows3  =  100- profitable_percentage3
less_profitable_cows3

51.54787616990641

In [21]:
#Cows with more than 10000lt in 4rd lactation.
cow_4 = cow_df[cow_df["lactation_4"] == 1]
cows4_count = cow_4["id"].count()
profitable_cows4 = cow_df[cow_df["total_production_4"] >= 10000]
total_cows_count4 = profitable_cows4["id"].count()
profitable_percentage4 = total_cows_count4 / float(cows4_count) * 100
profitable_percentage4

46.69811320754717

In [22]:
less_profitable_cows4  =  100- profitable_percentage4
less_profitable_cows4

53.30188679245283

In [23]:
#Cows with more than 10000lt in 5th lactation.
cow_5 = cow_df[cow_df["lactation_5"] == 1]
cows5_count = cow_5["id"].count()
profitable_cows5 = cow_df[cow_df["total_production_5"] >= 10000]
total_cows_count5 = profitable_cows5["id"].count()
profitable_percentage5 = total_cows_count5 / float(cows5_count) * 100
profitable_percentage5

44.48529411764706

In [24]:
less_profitable_cows5  =  100- profitable_percentage5
less_profitable_cows5

55.51470588235294

In [25]:
#Cows with more than 10000lt in 6th lactation.
cow_6 = cow_df[cow_df["lactation_6"] == 1]
cows6_count = cow_6["id"].count()
profitable_cows6 = cow_df[cow_df["total_production_6"] >= 10000]
total_cows_count6 = profitable_cows6["id"].count()
profitable_percentage6 = total_cows_count6 / float(cows6_count) * 100
profitable_percentage6

32.6530612244898

In [26]:
less_profitable_cows6  =  100- profitable_percentage6
less_profitable_cows6

67.34693877551021

In [27]:
#Cows with more than 10000lt in 7th lactation.
cow_7 = cow_df[cow_df["lactation_7"] == 1]
cows7_count = cow_7["id"].count()
profitable_cows7 = cow_df[cow_df["total_production_7"] >= 10000]
total_cows_count7 = profitable_cows7["id"].count()
profitable_percentage7 = total_cows_count7 / float(cows7_count) * 100
profitable_percentage7

17.24137931034483

In [28]:
less_profitable_cows7  =  100- profitable_percentage7
less_profitable_cows7

82.75862068965517

In [29]:
#Cows with more than 10000lt in 8th lactation.
cow_8 = cow_df[cow_df["lactation_8"] == 1]
cows8_count = cow_8["id"].count()
profitable_cows8 = cow_df[cow_df["total_production_8"] >= 10000]
total_cows_count8 = profitable_cows8["id"].count()
profitable_percentage8 = total_cows_count8 / float(cows8_count) * 100
profitable_percentage8

16.666666666666664

In [30]:
less_profitable_cows8  =  100- profitable_percentage8
less_profitable_cows8

83.33333333333334

In [31]:
#Cows with more than 10000lt in 9th lactation.
cow_9 = cow_df[cow_df["lactation_9"] == 1]
cows9_count = cow_9["id"].count()
profitable_cows9 = cow_df[cow_df["total_production_9"] >= 10000]
total_cows_count9 = profitable_cows9["id"].count()
profitable_percentage9 = total_cows_count9 / float(cows9_count) * 100
profitable_percentage9

0.0

In [32]:
less_profitable_cows9  =  100- profitable_percentage9
less_profitable_cows9

100.0

In [33]:
# profitable_lactations_df

lactancia1 = ["1", profitable_percentage1, less_profitable_cows1]
lactancia2 = ["2", profitable_percentage2, less_profitable_cows2]
lactancia3 = ["3", profitable_percentage3, less_profitable_cows3]
lactancia4 = ["4", profitable_percentage4, less_profitable_cows4]
lactancia5 = ["5", profitable_percentage5, less_profitable_cows5]
lactancia6 = ["6", profitable_percentage6, less_profitable_cows6]
lactancia7 = ["7", profitable_percentage7, less_profitable_cows7]
lactancia8 = ["8", profitable_percentage8, less_profitable_cows8]
lactancia9 = ["9", profitable_percentage9, less_profitable_cows9]

lactations_list = [lactancia1,lactancia2,lactancia3,lactancia4,lactancia5,lactancia6,lactancia7,lactancia8,lactancia9]

In [34]:
# Dataframe de porcentaje de vacas rentables.
profitable_lactations_df = pd.DataFrame(lactations_list,
          columns = ['lactation', 'profitable %', 'less profitable %'])
profitable_lactations_df

  lactation  profitable %  less profitable %
0         1     27.908036          72.091964
1         2     45.589877          54.410123
2         3     48.452124          51.547876
3         4     46.698113          53.301887
4         5     44.485294          55.514706
5         6     32.653061          67.346939
6         7     17.241379          82.758621
7         8     16.666667          83.333333
8         9      0.000000         100.000000

In [35]:
profitable_lactations_df.to_csv('profitable_less_profitable_lactations.csv', index=False)