In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import os
mastitis_to_load = os.path.join("Resources/Mastitis_by_lactation.csv")
mastitis_df = pd.read_csv(mastitis_to_load)
mastitis_df.head()

,index,cow,Status,gynecological_status,patio,given_birthdate,lactation,milk_days,number_mastitis_lactation_1,number_mastitis_lactation_2,number_mastitis_lactation_3,number_mastitis_lactation_4,number_mastitis_lactation_5,number_mastitis_lactation_6,number_mastitis_lactation_7,number_mastitis_lactation_8,number_mastitis_lactation_9
0,1,5,milking,pregnacy,13,9/16/2016,4,265,0,0,0,0,0,0,0,0,0
1,2,9,milking,heat,24,10/11/2016,4,253,0,0,0,0,0,0,0,0,0
2,3,16,milking,labor,19,11/15/2016,4,63,0,0,0,0,0,0,0,0,0
3,4,27,milking,heat,20,12/4/2017,3,48,0,0,0,0,0,0,0,0,0
4,5,121,milking,pregnacy,15,8/6/2013,7,159,0,0,0,0,1,0,0,0,0

In [3]:
#estado ginecologico y media de dias de leche
gyn_status = mastitis_df.groupby(["gynecological_status"]).mean()["milk_days"]
gyn_status.head()

gynecological_status
abortion         237.928571
heat              68.626437
insemination     131.929577
labor             30.949686
no_inseminate    386.839286
Name: milk_days, dtype: float64

In [4]:
cow_to_load = os.path.join("Resources/alive_cows_to_predict.csv")
cow_df = pd.read_csv(cow_to_load)
cow_df.columns

Index(['id', 'lactation_1', 'lactation_2', 'lactation_3', 'lactation_4',
       'lactation_5', 'lactation_6', 'lactation_7', 'lactation_8',
       'lactation_9', 'total_production_1', 'total_production_2',
       'total_production_3', 'total_production_4', 'total_production_5',
       'total_production_6', 'total_production_7', 'total_production_8',
       'total_production_9', 'milk_days_1', 'milk_days_2', 'milk_days_3',
       'milk_days_4', 'milk_days_5', 'milk_days_6', 'milk_days_7',
       'milk_days_8', 'milk_days_9', 'vaca_x', 'mastitis_lac_1',
       'mastitis_lac_2', 'mastitis_lac_3', 'mastitis_lac_4', 'mastitis_lac_5',
       'mastitis_lac_6', 'mastitis_lac_7', 'mastitis_lac_8', 'mastitis_lac_9',
       'vaca_y', 'inseminacion_lac_1', 'inseminacion_lac_2',
       'inseminacion_lac_3', 'inseminacion_lac_4', 'inseminacion_lac_5',
       'inseminacion_lac_6', 'inseminacion_lac_7', 'inseminacion_lac_8',
       'inseminacion_lac_9', 'abortos_Lac_1', 'abortos_lac_2', 'abortos_lac_3',
       'abortos_lac_4', 'abortos_lac_5', 'abortos_lac_6', 'abortos_lac_7',
       'abortos_lac_8', 'abortos_lac_9'],
      dtype='object')

In [5]:
data_to_load = os.path.join("Resources/data_preprocesed_lact_3.csv")
data_df = pd.read_csv(data_to_load)
data_df.columns

Index(['Unnamed: 0', 'id', 'lactation_1', 'lactation_2', 'lactation_3',
       'total_production_1', 'total_production_2', 'total_production_3',
       'milk_days_1', 'milk_days_2', 'milk_days_3', 'mastitis_lac_1',
       'mastitis_lac_2', 'mastitis_lac_3', 'inseminacion_lac_1',
       'inseminacion_lac_2', 'inseminacion_lac_3', 'abortos_Lac_1',
       'abortos_lac_2', 'abortos_lac_3', 'production_ok'],
      dtype='object')

In [6]:
#total de vacas
total_cow_count = cow_df["id"].count()
total_cow_count

4393

In [7]:
#Cows with more than 10000lt in 1st lactation.
profitable_cows1 = cow_df[cow_df["total_production_1"] >= 10000]
cows_count = profitable_cows1["id"].count()
profitable_percentage1 = cows_count / float(total_cow_count) * 100
profitable_percentage1

27.908035511040293

In [8]:
less_profitable_cows1  =  100- profitable_percentage1
less_profitable_cows1

72.0919644889597

In [9]:
#total 1st lactation litters
total_production1 = cow_df["total_production_1"].sum()
total_production1

36107522

In [10]:
#Cows with more than 10000lt in 2nd lactation.
cow_2 = cow_df[cow_df["lactation_2"] == 1]
cows2_count = cow_2["id"].count()
profitable_cows2 = cow_df[cow_df["total_production_2"] >= 10000]
total_cows_count2 = profitable_cows2["id"].count()
profitable_percentage2 = total_cows_count2 / float(cows2_count) * 100
profitable_percentage2

45.58987718645329

In [11]:
less_profitable_cows2  =  100- profitable_percentage2
less_profitable_cows2

54.41012281354671

In [12]:
#total 2nd lactation litters
total_production2 = cow_df["total_production_2"].sum()
total_production2

24544244

In [13]:
#Cows with more than 10000lt in 3rd lactation.
cow_3 = cow_df[cow_df["lactation_3"] == 1]
cows3_count = cow_3["id"].count()
profitable_cows3 = cow_df[cow_df["total_production_3"] >= 10000]
total_cows_count3 = profitable_cows3["id"].count()
profitable_percentage3 = total_cows_count3 / float(cows3_count) * 100
profitable_percentage3

48.45212383009359

In [14]:
less_profitable_cows3  =  100- profitable_percentage3
less_profitable_cows3

51.54787616990641

In [15]:
#total 3rd lactation litters
total_production3 = cow_df["total_production_3"].sum()
total_production3

13055310

In [16]:
#Cows with more than 10000lt in 4rd lactation.
cow_4 = cow_df[cow_df["lactation_4"] == 1]
cows4_count = cow_4["id"].count()
profitable_cows4 = cow_df[cow_df["total_production_4"] >= 10000]
total_cows_count4 = profitable_cows4["id"].count()
profitable_percentage4 = total_cows_count4 / float(cows4_count) * 100
profitable_percentage4

46.69811320754717

In [17]:
less_profitable_cows4  =  100- profitable_percentage4
less_profitable_cows4

53.30188679245283

In [18]:
#total 4rd lactation litters
total_production4 = cow_df["total_production_4"].sum()
total_production4

5928491

In [19]:
#Cows with more than 10000lt in 5th lactation.
cow_5 = cow_df[cow_df["lactation_5"] == 1]
cows5_count = cow_5["id"].count()
profitable_cows5 = cow_df[cow_df["total_production_5"] >= 10000]
total_cows_count5 = profitable_cows5["id"].count()
profitable_percentage5 = total_cows_count5 / float(cows5_count) * 100
profitable_percentage5

44.48529411764706

In [20]:
less_profitable_cows5  =  100- profitable_percentage5
less_profitable_cows5

55.51470588235294

In [21]:
#total 5th lactation litters
total_production5 = cow_df["total_production_5"].sum()
total_production5

2472097

In [22]:
#Cows with more than 10000lt in 6th lactation.
cow_6 = cow_df[cow_df["lactation_6"] == 1]
cows6_count = cow_6["id"].count()
profitable_cows6 = cow_df[cow_df["total_production_6"] >= 10000]
total_cows_count6 = profitable_cows6["id"].count()
profitable_percentage6 = total_cows_count6 / float(cows6_count) * 100
profitable_percentage6

32.6530612244898

In [23]:
less_profitable_cows6  =  100- profitable_percentage6
less_profitable_cows6

67.34693877551021

In [24]:
#total 6th lactation litters
total_production6 = cow_df["total_production_6"].sum()
total_production6

802891

In [25]:
#Cows with more than 10000lt in 7th lactation.
cow_7 = cow_df[cow_df["lactation_7"] == 1]
cows7_count = cow_7["id"].count()
profitable_cows7 = cow_df[cow_df["total_production_7"] >= 10000]
total_cows_count7 = profitable_cows7["id"].count()
profitable_percentage7 = total_cows_count7 / float(cows7_count) * 100
profitable_percentage7

17.24137931034483

In [26]:
less_profitable_cows7  =  100- profitable_percentage7
less_profitable_cows7

82.75862068965517

In [27]:
#total 7th lactation litters
total_production7 = cow_df["total_production_7"].sum()
total_production7

211445

In [28]:
#Cows with more than 10000lt in 8th lactation.
cow_8 = cow_df[cow_df["lactation_8"] == 1]
cows8_count = cow_8["id"].count()
profitable_cows8 = cow_df[cow_df["total_production_8"] >= 10000]
total_cows_count8 = profitable_cows8["id"].count()
profitable_percentage8 = total_cows_count8 / float(cows8_count) * 100
profitable_percentage8

16.666666666666664

In [29]:
less_profitable_cows8  =  100- profitable_percentage8
less_profitable_cows8

83.33333333333334

In [30]:
#total 8th lactation litters
total_production8 = cow_df["total_production_8"].sum()
total_production8

40445

In [31]:
#Cows with more than 10000lt in 9th lactation.
cow_9 = cow_df[cow_df["lactation_9"] == 1]
cows9_count = cow_9["id"].count()
profitable_cows9 = cow_df[cow_df["total_production_9"] >= 10000]
total_cows_count9 = profitable_cows9["id"].count()
profitable_percentage9 = total_cows_count9 / float(cows9_count) * 100
profitable_percentage9

0.0

In [32]:
less_profitable_cows9  =  100- profitable_percentage9
less_profitable_cows9

100.0

In [33]:
#total 9th lactation litters
total_production9 = cow_df["total_production_9"].sum()
total_production9

8216

In [34]:
# profitable_lactations_df

lactancia1 = ["1", profitable_percentage1, less_profitable_cows1, total_production1]
lactancia2 = ["2", profitable_percentage2, less_profitable_cows2, total_production2]
lactancia3 = ["3", profitable_percentage3, less_profitable_cows3, total_production3]
lactancia4 = ["4", profitable_percentage4, less_profitable_cows4, total_production4]
lactancia5 = ["5", profitable_percentage5, less_profitable_cows5, total_production5]
lactancia6 = ["6", profitable_percentage6, less_profitable_cows6, total_production6]
lactancia7 = ["7", profitable_percentage7, less_profitable_cows7, total_production7]
lactancia8 = ["8", profitable_percentage8, less_profitable_cows8, total_production8]
lactancia9 = ["9", profitable_percentage9, less_profitable_cows9, total_production9]

lactations_list = [lactancia1,lactancia2,lactancia3,lactancia4,lactancia5,lactancia6,lactancia7,lactancia8,lactancia9]

In [35]:
# Dataframe de porcentaje de vacas rentables.
profitable_lactations_df = pd.DataFrame(lactations_list,
          columns = ['lactation', 'profitable %', 'less profitable %', 'total production'])
profitable_lactations_df

  lactation  profitable %  less profitable %  total production
0         1     27.908036          72.091964          36107522
1         2     45.589877          54.410123          24544244
2         3     48.452124          51.547876          13055310
3         4     46.698113          53.301887           5928491
4         5     44.485294          55.514706           2472097
5         6     32.653061          67.346939            802891
6         7     17.241379          82.758621            211445
7         8     16.666667          83.333333             40445
8         9      0.000000         100.000000              8216

In [36]:
profitable_lactations_df.to_csv('total_lactations_results.csv', index=False)

In [37]:
#Cows with more than 10000lt in 1st and 2nd lactation.
most_profiltable_cows = cow_df[(cow_df["total_production_1"] >= 10000) & (cow_df["total_production_2"] >= 10000)]
most_profiltable_cows.head()
most_profiltable_cows_count = most_profiltable_cows["id"].count()
most_profiltable_cows_count

652

In [38]:
sum_most_profiltable_cows_df = cow_df[(cow_df["total_production_1"] >= 10000) + (cow_df["total_production_2"] >= 10000)]
sum_most_profiltable_cows_df.head()

,id,lactation_1,lactation_2,lactation_3,lactation_4,lactation_5,lactation_6,lactation_7,lactation_8,lactation_9,...,inseminacion_lac_9,abortos_Lac_1,abortos_lac_2,abortos_lac_3,abortos_lac_4,abortos_lac_5,abortos_lac_6,abortos_lac_7,abortos_lac_8,abortos_lac_9
1,9,1,1,1,1,0,0,0,0,0,...,-1,0,0,0,1,-1,-1,-1,-1,-1
2,16,1,1,1,1,0,0,0,0,0,...,-1,0,0,0,0,-1,-1,-1,-1,-1
3,27,1,1,1,0,0,0,0,0,0,...,-1,0,0,0,-1,-1,-1,-1,-1,-1
4,121,1,1,1,1,1,1,1,0,0,...,-1,0,0,0,0,0,0,0,-1,-1
5,160,1,1,1,1,1,0,0,0,0,...,-1,1,0,0,0,0,0,-1,-1,-1

In [39]:
total_production_1_2= sum_most_profiltable_cows_df["total_production_1"] + sum_most_profiltable_cows_df["total_production_2"]
sum_most_profiltable_cows_df.head()

,id,lactation_1,lactation_2,lactation_3,lactation_4,lactation_5,lactation_6,lactation_7,lactation_8,lactation_9,...,inseminacion_lac_9,abortos_Lac_1,abortos_lac_2,abortos_lac_3,abortos_lac_4,abortos_lac_5,abortos_lac_6,abortos_lac_7,abortos_lac_8,abortos_lac_9
1,9,1,1,1,1,0,0,0,0,0,...,-1,0,0,0,1,-1,-1,-1,-1,-1
2,16,1,1,1,1,0,0,0,0,0,...,-1,0,0,0,0,-1,-1,-1,-1,-1
3,27,1,1,1,0,0,0,0,0,0,...,-1,0,0,0,-1,-1,-1,-1,-1,-1
4,121,1,1,1,1,1,1,1,0,0,...,-1,0,0,0,0,0,0,0,-1,-1
5,160,1,1,1,1,1,0,0,0,0,...,-1,1,0,0,0,0,0,-1,-1,-1

In [40]:
sum_most_profiltable_cows_df.to_csv('sum_most_profiltable_cows_df.csv', index=False)

In [41]:
#vacas que han abortado que sean rentables en la lactancia 1
abortion_profitable_cows1_df = cow_df[cow_df["total_production_1"] >= 10000]
abortion_profitable_cows1_df.head()
abortion_profitable_cows1_count = abortion_profitable_cows1_df.groupby(["abortos_Lac_1"]).count()["total_production_1"]
abortion_profitable_cows1_count

abortos_Lac_1
0    854
1    330
2     39
3      3
Name: total_production_1, dtype: int64

In [42]:
#vacas que han abortado que sean rentables en la lactancia 2
abortion_profitable_cows2_df = cow_df[cow_df["total_production_2"] >= 10000]
abortion_profitable_cows2_count = abortion_profitable_cows2_df.groupby(["abortos_lac_2"]).count()["total_production_2"]
abortion_profitable_cows2_count

abortos_lac_2
0    1035
1     181
2       9
Name: total_production_2, dtype: int64

In [43]:
#vacas que han abortado que sean rentables en la lactancia 3
abortion_profitable_cows3_df = cow_df[cow_df["total_production_3"] >= 10000]
abortion_profitable_cows2_count = abortion_profitable_cows2_df.groupby(["abortos_lac_3"]).count()["total_production_3"]
abortion_profitable_cows2_count

abortos_lac_3
-1    307
 0    841
 1     73
 2      4
Name: total_production_3, dtype: int64

In [44]:
mastitis_df.rename({'cow': 'id'}, axis=1, inplace=True)
mastitis_df.head()

,index,id,Status,gynecological_status,patio,given_birthdate,lactation,milk_days,number_mastitis_lactation_1,number_mastitis_lactation_2,number_mastitis_lactation_3,number_mastitis_lactation_4,number_mastitis_lactation_5,number_mastitis_lactation_6,number_mastitis_lactation_7,number_mastitis_lactation_8,number_mastitis_lactation_9
0,1,5,milking,pregnacy,13,9/16/2016,4,265,0,0,0,0,0,0,0,0,0
1,2,9,milking,heat,24,10/11/2016,4,253,0,0,0,0,0,0,0,0,0
2,3,16,milking,labor,19,11/15/2016,4,63,0,0,0,0,0,0,0,0,0
3,4,27,milking,heat,20,12/4/2017,3,48,0,0,0,0,0,0,0,0,0
4,5,121,milking,pregnacy,15,8/6/2013,7,159,0,0,0,0,1,0,0,0,0

In [45]:
#Fusionar dos dataframe mastitis y cow_df
full_data_df = pd.merge(mastitis_df, cow_df, on=["id", "id"])
full_data_df.head()
full_data_df.columns
full_data_df.to_csv('full_data.csv', index=True)

PermissionError: [Errno 13] Permission denied: 'full_data.csv'

In [46]:
#vacas por estado ginecologico
cows_gyn_status_count = full_data_df.groupby(["gynecological_status"]).count()["id"]
cows_gyn_status_count

gynecological_status
abortion           26
heat              173
insemination      914
labor             467
no_inseminate      41
pregnacy         2772
Name: id, dtype: int64

In [47]:
# Listado de las vacas con mas de 4 inseminacion sin haberse preñado
cows_insemination_no_pregnancy_df = full_data_df.loc[(full_data_df["inseminacion_lac_1"] >= 4) & (full_data_df["gynecological_status"] != 'pregnacy')]
cows_insemination_no_pregnancy_df.head()

,index,id,Status,gynecological_status,patio,given_birthdate,lactation,milk_days,number_mastitis_lactation_1,number_mastitis_lactation_2,...,inseminacion_lac_9,abortos_Lac_1,abortos_lac_2,abortos_lac_3,abortos_lac_4,abortos_lac_5,abortos_lac_6,abortos_lac_7,abortos_lac_8,abortos_lac_9
5,6,160,milking,labor,21,8/19/2013,6,2,0,0,...,-1,1,0,0,0,0,0,-1,-1,-1
7,8,219,milking,labor,18,8/30/2013,7,105,0,0,...,-1,0,0,0,0,0,0,0,-1,-1
10,11,252,milking,labor,21,9/5/2013,6,14,0,0,...,-1,0,0,0,0,1,0,-1,-1,-1
11,12,254,milking,heat,26,9/5/2013,6,295,0,0,...,-1,1,0,0,0,0,1,-1,-1,-1
28,29,975,milking,insemination,23,2/12/2014,6,207,0,0,...,-1,0,0,0,0,0,0,-1,-1,-1

In [48]:
cows_insemination_no_pregnancy_count = cows_insemination_no_pregnancy_df.groupby(["gynecological_status"]).count()["id"]
cows_insemination_no_pregnancy_count

gynecological_status
abortion           4
heat              21
insemination     183
labor             47
no_inseminate     23
Name: id, dtype: int64

In [49]:
#Promedio de dias de leche por lactancia
milk_days_avg_df = full_data_df.groupby(["lactation"]).mean()["milk_days"]
milk_days_avg_df

lactation
1    192.329806
2    190.218126
3    195.542553
4    193.341530
5    203.627907
6    180.338028
7    179.739130
8    140.400000
9    273.000000
Name: milk_days, dtype: float64

In [63]:
ill_cows_by_lactation_1=full_data_df.groupby(["number_mastitis_lactation_1"]).count()["id"]
ill_cows_by_lactation_1

number_mastitis_lactation_1
0    3952
1     358
2      56
3      14
4       5
5       6
6       2
Name: id, dtype: int64

In [64]:
ill_cows_by_lactation_2=full_data_df.groupby(["number_mastitis_lactation_2"]).count()["id"]
ill_cows_by_lactation_2

number_mastitis_lactation_2
0    3980
1     300
2      81
3      21
4       7
5       2
8       1
9       1
Name: id, dtype: int64

In [52]:
ill_cows_by_lactation_3=full_data_df.groupby(["number_mastitis_lactation_3"]).count()["id"]
ill_cows_by_lactation_3

number_mastitis_lactation_3
0    4107
1     204
2      51
3      13
4       7
5       5
6       1
7       3
8       2
Name: id, dtype: int64

In [53]:
ill_cows_by_lactation_4=full_data_df.groupby(["number_mastitis_lactation_4"]).count()["id"]
ill_cows_by_lactation_4

number_mastitis_lactation_4
0    4233
1     113
2      29
3      10
4       2
5       4
6       1
7       1
Name: id, dtype: int64

In [55]:
ill_cows_by_lactation_5=full_data_df.groupby(["number_mastitis_lactation_5"]).count()["id"]
ill_cows_by_lactation_5

number_mastitis_lactation_5
0    4313
1      49
2      23
3       4
4       3
9       1
Name: id, dtype: int64

In [56]:
ill_cows_by_lactation_6=full_data_df.groupby(["number_mastitis_lactation_6"]).count()["id"]
ill_cows_by_lactation_6

number_mastitis_lactation_6
0    4370
1      17
2       6
Name: id, dtype: int64

In [57]:
ill_cows_by_lactation_7=full_data_df.groupby(["number_mastitis_lactation_7"]).count()["id"]
ill_cows_by_lactation_7

number_mastitis_lactation_7
0    4388
1       3
2       1
3       1
Name: id, dtype: int64

In [58]:
ill_cows_by_lactation_8=full_data_df.groupby(["number_mastitis_lactation_8"]).count()["id"]
ill_cows_by_lactation_8

number_mastitis_lactation_8
0    4391
3       1
6       1
Name: id, dtype: int64

In [59]:
ill_cows_by_lactation_9=full_data_df.groupby(["number_mastitis_lactation_9"]).count()["id"]
ill_cows_by_lactation_9

number_mastitis_lactation_9
0    4393
Name: id, dtype: int64

In [65]:
ill_cows_by_gyn_state_lact_1=full_data_df.groupby(["gynecological_status"]).sum()["number_mastitis_lactation_1"]
ill_cows_by_gyn_state_lact_1

gynecological_status
abortion           4
heat              20
insemination     117
labor             40
no_inseminate     10
pregnacy         383
Name: number_mastitis_lactation_1, dtype: int64

In [70]:
ill_cows_by_gyn_state_lact_1_1=full_data_df.groupby(["gynecological_status", "number_mastitis_lactation_1", "number_mastitis_lactation_2", "number_mastitis_lactation_3", "number_mastitis_lactation_4", "number_mastitis_lactation_5", "number_mastitis_lactation_6", "number_mastitis_lactation_7", "number_mastitis_lactation_8", "number_mastitis_lactation_9"]).count()["id"]
ill_cows_by_gyn_state_lact_1_1

gynecological_status  number_mastitis_lactation_1  number_mastitis_lactation_2  number_mastitis_lactation_3  number_mastitis_lactation_4  number_mastitis_lactation_5  number_mastitis_lactation_6  number_mastitis_lactation_7  number_mastitis_lactation_8  number_mastitis_lactation_9
abortion              0                            0                            0                            0                            0                            0                            0                            0                            0                              15
                                                                                                             1                            0                            0                            0                            0                            0                               1
                                                                                                                                          1                            0                            0                            0                            0                               1
                                                                                                             2                            0                            0                            0                            0                            0                               1
                                                                                1                            0                            1                            0                            0                            0                            0                               1
                                                                                                                                                                                                                                                                                             ..
pregnacy              4                            1                            0                            0                            0                            0                            0                            0                            0                               2
                                                   2                            0                            0                            0                            0                            0                            0                            0                               1
                      5                            0                            0                            0                            0                            0                            0                            0                            0                               1
                                                   1                            0                            0                            0                            0                            0                            0                            0                               1
                                                   3                            2                            0                            0                            0                            0                            0                            0                               1
Name: id, Length: 234, dtype: int64

In [73]:
ill_cows_by_gyn_state_lact_1_1.to_csv('ill_cows_by_gyn_state_lact_1_1.csv', index=True)

In [92]:
#vacas con mastitis y rentables en lactancia 1
mastitis_profitable_1_df = full_data_df[full_data_df["total_production_9"] >= 10000]
mastitis_profitable_1_count_df = mastitis_profitable_1_df.groupby(["number_mastitis_lactation_9"]).count()["total_production_9"]
mastitis_profitable_1_count_df

Series([], Name: total_production_9, dtype: int64)