In [1]:
# Initial imports
import pandas as pd
from path import Path
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.linear_model import LinearRegression

In [2]:
# Loading data
data_df = pd.read_json('../Resources/full.json')
data_df.head()

     id  lactation  daily_production  milk_days
0  6157          3              4597        241
1  6158          1              1320        250
2  6158          2             17166        600
3  6159          1                 0        303
4  6159          2                 0        303

In [3]:
import numpy as np

In [4]:
#renombrar daily_production por producción total
data_df.columns = ['id','lactation', 'total_production', 'milk_days']
data_df

         id  lactation  total_production  milk_days
0      6157          3              4597        241
1      6158          1              1320        250
2      6158          2             17166        600
3      6159          1                 0        303
4      6159          2                 0        303
...     ...        ...               ...        ...
60309  5035          2             16008        531
60310  5035          3             13087        325
60311  5036          1              8286        266
60312  5036          2              7035        195
60313  5037          1             13607        444

[60314 rows x 4 columns]

In [5]:
data_df ['total_production_bool'] = np. where(data_df['total_production']>= 10000, ' 1 ', ' 0 ')
data_df.head()

     id  lactation  total_production  milk_days total_production_bool
0  6157          3              4597        241                    0
1  6158          1              1320        250                    0
2  6158          2             17166        600                    1
3  6159          1                 0        303                    0
4  6159          2                 0        303                    0

In [6]:
# Define the features set.
y = data_df["total_production_bool"]
X = data_df.drop(columns="total_production_bool")
X=X.drop(columns="total_production")
X.head()

     id  lactation  milk_days
0  6157          3        241
1  6158          1        250
2  6158          2        600
3  6159          1        303
4  6159          2        303

In [7]:
# Define the target set.
y = data_df["total_production_bool"].values
y[:5]

array([' 0 ', ' 0 ', ' 1 ', ' 0 ', ' 0 '], dtype=object)

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [9]:
# Determine the shape of our training and testing sets.
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(45235, 3)
(15079, 3)
(45235,)
(15079,)

In [10]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [11]:
# Creating the decision tree classifier instance.
model = tree.DecisionTreeClassifier()
# Fitting the model.
model = model.fit(X_train_scaled, y_train)

In [12]:
# Making predictions using the testing data.
predictions = model.predict(X_test_scaled)

In [13]:
predictions

array([' 0 ', ' 0 ', ' 0 ', ..., ' 1 ', ' 0 ', ' 0 '], dtype=object)

In [14]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0         9140         1310
Actual 1         1534         3095

In [15]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)

In [16]:
acc_score

0.8113933284700577

In [17]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0         9140         1310
Actual 1         1534         3095

Accuracy Score : 0.8113933284700577
Classification Report
              precision    recall  f1-score   support

          0        0.86      0.87      0.87     10450
          1        0.70      0.67      0.69      4629

    accuracy                           0.81     15079
   macro avg       0.78      0.77      0.78     15079
weighted avg       0.81      0.81      0.81     15079